@font-face {
  font-family: eurostile-bold;
  src: url("../fonts/Eurostile Bold.ttf");
}

body {
  background-image: url("../assets/pagebg.jpg");
}

.container {
  font-family: eurostile-bold;
  width: 600px;
  height: 600px;
  position: relative;
  margin: auto auto;
}

.view {
  font-family: eurostile-bold;
  border: 3px solid black;
  display: block;
  width: 100%;
  position: relative;
}

.player-name, .not-ready, .player-ready {
  text-align: center;
  position: absolute;
  z-index: 5;
  width: 30%;
  color: white;
  left: 35%;
  background-color: black;
  margin-top: 60px;
}

.not-ready {
  opacity: 0;
}

.player-ready {
  opacity: 1;
  transition: 0.5s ease-in;
}
